@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,480;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,480;1,600;1,700;1,800;1,900&display=swap');


.distributor{
    padding: 6% 7%;
    position: relative;
    height: 600px;
    font-weight: 480;
    overflow: hidden;
    display: flex;
}
.distributor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/Fountain.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(20%);
    z-index: -1;
  }
.distributor__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.distributor__content-real{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.distributor__content{
    display: flex;
}
.distributor__content-sign{
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
    gap: 20px;
}
.sign{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.distributor__title{
    font-size: 45px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
    margin-bottom: 100px;
    letter-spacing: 0.5px;
}
.distributor__text{
    font-size: 15px;
    font-family: 'sora';
    font-weight: 400;
    line-height: 25px;
    color: #000;
}
.sign-text{
    color: #fff;
}
.distributor__button{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 15px 20px;
    font-size: 16px;
    width: 400px;
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}
.distributor__button:hover{
    background-color: #fff;
    color: #077A4C;
    border: 2px solid #077A4C;
    transition: all 0.5s;
}
.distributor__content{
    display: flex;
    gap: 250px;
    justify-content: space-between;
}
.distributor__content-img-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.distributor__content-img{
    display: flex;
    align-items: flex-end;
    gap: 20px;
}