.normal-navbar{
    position: relative;
    top: 0;
    left: 0;
    height: 90px;
    z-index: 1000;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__menu-normal {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  .navbar__item{
  list-style-type: none;
  }
  
  .navbar__link-normal {
    text-decoration: none;
    font-size: min(6vmin, calc(1rem + 0.23vmax));
    font-family: 'Geo';
    color: #000000;
  }
  
  .navbar__link-normal:hover {
    border-bottom: 2px solid #40B44B;
  }
  .cart-nav{
  display: none;
  }
  .navbar__cta {
    display: flex;
    align-items: center;
  }
  
  .navbar__cta-btn {
    transition: all 0.42s ease;
    color: #fff;
    margin-right: 15px;
    background-color: transparent;
    border: none;
  }
  .navbar__cta-menu {
    display: none;
  }
  .navbar__cta-btn-menu{
    display: none;

  }
  .log-in{
    display: none;
  }

  
  .navbar__cta-img-normal {
    filter: brightness(0) contrast(100%);
  }
  
  .navbar__cta-img-normal:hover {
    transform: scale(1.1);
    filter: brightness(0) contrast(100%);
  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar__cta {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    #user_icon{
      display: none;
    }
    .navbar__cta-btn {
      margin-right: 0px;
    }
    .land-navbar-img{
      width: 150px;
      height: 35px;
    }
  }
  @media(max-width: 480px){
    .land-navbar-img{
      width: 140px;
      height: 28.64px;

    }
    .normal-navbar{
      padding: 10px 15px;
    }
    #user_icon{
      display: none;
    }
    .navbar__cta {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .navbar__cta-btn {
      margin-right: 0px;
    }
  }