@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,480;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,480;1,600;1,700;1,800;1,900&display=swap');

.learn{
    position: relative;
    height: 100%;
    padding: 120px 0px;
    font-weight: 480;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.learn__container_overall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    width: 100%;

}
.learn__title_text{
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'ClashDisplay';
    font-weight: 700;

}
.learn__container{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;

}
.learn__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.learn-content-text{
    display: flex;
    align-items: center;
    gap: 30px;
}
.learn-content-text p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
}
.learn__content-images{
    display: flex;
    align-items: flex-end;
    gap: 50px;
}
.learn_content_button{
    width: 100%;
    max-width: 398px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 80px;
    padding: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    color: #fff;
    font-family: "Montserrat Alternates", sans-serif;
}
.learn__content-images_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 100%;
}
.learn__content_sliders{
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.learn__content_sliders_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    /* pointer-events: none; */
    cursor: pointer;
    color: gray
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .learn__container {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
    }
    .learn__content_sliders{
        display: none;
    }
    .learn__content-images {
        display: flex;
        gap: 30px;
    }
    .learn__title_text {
        font-size: 38px;
        font-weight: 600;
        line-height: 30px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .learn{
        padding: 40px 20px;
        height: 100%;
    }
    .learn__title{
        width: 100%;
        margin-bottom: 50px;
    }
    .learn__title_text{
        font-size: 24px;
        font-weight: 600;
        line-height: 29.52px;
        letter-spacing: 0.02em;
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;

    }
    .learn-content-text p{
        font-size: 16px;
    }
    .learn__content-images_container {
        width: 100%;
    }
    .learn__container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }
    .learn_image_zero{
        width: 173.33px;
        height: 200px;
    }
    .learn_image_one{
        width: 118.86px;
        height: 138.67px;
    }
    .learn_image_two{
        width: 118.86px;
        height: 138.67px;
    }
    .learn_content_button{
        margin-top: 80px;
        font-size: 14px;
    }
    .learn_content_overall{
        width: 100%;
        display: flex;
        align-items: center;
    }

}

@media(max-width: 480px){
    .learn{
        padding: 40px 20px;
        height: 100%;
    }
    .learn__title{
        max-width: 380px;
        margin-bottom: 50px;
    }
    .learn__title_text{
        font-size: 24px;
        font-weight: 600;
        line-height: 29.52px;
        letter-spacing: 0.02em;
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;

    }
    .learn-content-text p{
        font-size: 16px;
    }
    .learn__container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 50px;
    }
    .learn_image_zero{
        width: 173.33px;
        height: 200px;
    }
    .learn_image_one{
        width: 118.86px;
        height: 138.67px;
    }
    .learn__content_sliders{
        width: 100%;
    }
    .learn_image_two{
        width: 118.86px;
        height: 138.67px;
    }
    .learn_content_button{
        margin-top: 40px;
        font-size: 14px;

    }
    .learn__container_overall{
        margin-top: 0px;
    }
}
