.partnership {
    position: relative;
    height: 100%;
    padding: 100px 80px;
    font-weight: 480;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
/* .partnership::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../images/herobackgroundImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(10%);
    z-index: -1;
} */
.partnership__title{
    margin-bottom: 100px;
}
.partnership__title_text{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
}
.partnership__container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 120px;
}
.partnership__container_main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.partnership__container_text_container{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.partnership__container_text{
    /* max-width: 537px; */
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: -5px;
    font-family: "Montserrat Alternates", sans-serif;
}
.partnership__container_img{
    display: flex;
    align-items: center;    
    width: 100%;
}
.zoom-image{
    flex: 1;
    max-width: 100%;          
    height: auto;
    transition: transform 0.5s ease;
}

.zoom-image:hover {
    transform: scale(1.2); 
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .partnership__container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
        align-items: center;
    }
    
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .partnership__title_text{
        font-size: 28px;
    }
    .partnership__container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
    }
    .partnership__container_img{
        display: flex;
        align-items: center;    
        /* width: 100%; */
    }
    .zoom-image{
        width: 33%;          
        height: auto;
        transition: transform 0.5s ease;
    }


}
@media (max-width: 480px){
    .partnership {
        height: 100%;
        padding: 50px 30px;
    }
    .partnership__title_text{
        margin-bottom: 0px;
        line-height: 30px;
        gap: 12px;
        font-size: 24px;
        text-align: center;
    }
    .partnership__container{
        display: flex;
        flex-direction: column-reverse;
        gap: 60px;
    }
    .partnership__container_text_container{
        max-width: 350px;
    }

    .partnership__container_img{
        display: flex;
        padding: 0;
        width: 100%;
    }
    .partnership__container_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        
    }
    .partnership__container_text{
        font-size: 16px;
        margin-top: 0px;
    }
    .zoom-image{
        width: 33%;          
        height: auto;
        transition: transform 0.5s ease;
    }

}