.SignUp-header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #00945E;
}
.signUp-navbar__menu{
    display: flex;
    align-items: center;
    gap: 30px;
}
.signUp-navbar__link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'sora', sans-serif;
    color: #ffffff;
    transition: all .42s ease;
}
.signUp-navbar__link:hover{
    border-bottom: 3px solid #40B44B;
}
.navbar__cta-menu{
    display: none;
}
.navbar__cta{
    display: flex;
    color: #fff;
    align-items: center;
}
.navbar__cta-btn{
    transition: all .42s ease;
    color: #fff;
    margin-right: 15px;
}
.navbar__cta-img{
    filter: brightness(0) invert(1);
}
.navbar__cta-img:hover {
    transform: scale(1.1);
}

.SignUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SignUp__container{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SignUp-Form{
    width: 480px;
}
.signUp-btn{
    font-family: "Nanum Gothic", sans-serif;
    border: none;
    background-color: #00945E;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SignUp-title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family:  sans-serif;
    text-transform: uppercase;
    color: #00945E;
    margin-bottom: 40px;
}
.detailsForSignUp{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.signUp-label{
    font-size: 18px;
    font-family: "Nanum Gothic", sans-serif;
}
@media (max-width: 768px){
    .SignUp__container{
        width: 100%;    
    }
}

@media (max-width: 595px){
    .fountain-logo{
        width: 150px;
        height: 30px;
    }
    .navbar__cta-menu, .menu{
        display: flex;
        filter: brightness(0) invert(1);
    }
    .navbar__cta-img, .signUp-navbar__menu{
        display: none;
    }
    .SignUp-Form{
        width: 400px;
    }
    .SignUp-title{
        font-size: 1.8rem;
        font-weight: 700;
    }
}

@media (max-width: 480px){
    .fountain-logo{
        width: 150px;
        height: 30px;
    }
    .signUp-label{
        font-size: 15px;
    }
    .SignUp-Form{
        width: 290px;
    }
    .SignUp-title{
        font-size: 1.7rem;
        font-weight: 600;
    }
}

