.store{
    width: 100%;
    height: 900px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.store h1{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #041D0FCC;
}
.store-locator-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.search-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 70px;
}
.search_field_icon{
    width: 360px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #00000099;
    border-radius: 8px;
}
.search_field_input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    font-family: "Montserrat Alternates", sans-serif;
}
.search-locations{
    display: flex;
    flex-direction: column;
    border: 1px solid #00000066;
    height: 240px;
    overflow-y: auto;
}
.status-card{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00000066;
    padding: 10px 5px;
}
.location{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 10px 50px;
}
.location-text{
    color: #000;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
}
.store-status{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    color: #29AE29;
}
.closed{
    color: #D02227;
}
.map_content_button{
    width: 100%;
    max-width: 398px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-top: 1px solid #D02227;
    border-bottom: 1px solid #D02227;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: 80px;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
    transition: all 0.5s ease;
    color: #D02227;
    font-family: "Montserrat Alternates", sans-serif;
}
.map_content_button:hover{
    background-color: #D02227;
    color: #fff;
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .store{
        height: 100%;
        padding: 50px 20px;
    }

    .store-locator-container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .search-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 0px;
        max-width: 100%;
        margin-top: 30px;
    }
    .search-field, .search_field_icon{
        width: 100%;
    }
    .location{
        padding: 10px 20px;
    }

}

@media(max-width: 480px){
    .store{
        height: 100%;
        padding: 50px 20px;
    }
    .store h1{
        font-size: 24px;
    }
    .store-locator-container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .search-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 0px;
        max-width: 382px;
        margin-top: 30px;
    }
    .search-field, .search_field_icon{
        width: 100%;
    }
    .map-container_img{
       /* display: none; */
        max-width: 430px;
        max-height: 180px;
    }
    .location{
        padding: 10px 20px;
    }
    .map_content_button{
        font-size: 12px;
    }
}