@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,480;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,480;1,600;1,700;1,800;1,900&display=swap');


.store_main{
    position: relative;
    width: 100%;
    height: 700px;
    font-weight: 480;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
.store_main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../images/storeimage.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(20%);
    z-index: -1;
}
.store__container{
    width: 100%;
}
.store__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.store__content-title{
    font-size: 80px;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.store__content-text{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    color: #fff;
}
.store-names-identity{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.store-names-identity a{
    font-size: 16px;
    font-weight: 480;
    line-height: 28px;
    color: #fff;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}



/* ABOUT */
.brand__about{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    border-bottom: 1px dotted #000;
}
.brand__about_title{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    align-items: center;
    text-align: center;
}
.brand__about_content{
    max-width: 1182px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.brand__about_content-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
}
.brand__about_content-text-span{
    color: #D02227;
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .store__content-title{
      font-size: 60px;
    }
    .store__content-text{
        margin: 0 20px;
        text-align: center;
    }
}
@media (max-width: 480px){
    .store__content-title{
        font-size: 35px;
      }
      .store__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
      .store__content-text{
        font-size: 16px;
          margin: 0 20px;
          text-align: center;
      }
      .store-names-identity a{
            font-size: 14px;
      }
      .store-names-identity{
        margin-left: 15px;
    }

}