@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,480;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,480;1,600;1,700;1,800;1,900&display=swap";
/* [project]/src/app/geistsans_55aa1762.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("../media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_55aa1762-module__MU8Tiq__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_55aa1762-module__MU8Tiq__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/src/app/geistsans_55aa1762.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("../media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_55aa1762-module__MU8Tiq__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_55aa1762-module__MU8Tiq__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/src/app/geistmono_5456aaa7.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("../media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_5456aaa7-module__V5bQPa__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_5456aaa7-module__V5bQPa__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/src/app/geistmono_5456aaa7.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("../media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_5456aaa7-module__V5bQPa__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_5456aaa7-module__V5bQPa__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/src/styles/Hero.css [app-client] (css) */
.hero {
  position: relative;
  height: 1100px;
  font-weight: 480;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/Fountain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(10%);
  z-index: -1;
}

.hero__content {
  position: relative;
  color: #fff;
  font-weight: 480;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.hero_content_text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title {
  font-size: 4rem;
  font-family: YourCustomFont;
  text-transform: uppercase;
}

.cursive {
  color: #d02227;
}

.hero__description {
  font-size: min(6vmin, 1rem + .23vmax, 2rem);
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 480;
  font-style: normal;
}

.hero__content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all .42s;
}

.hero__cta-img {
  filter: brightness(0) invert();
}

.hero__cta:hover {
  border: 1px solid #000;
  background: none;
  transform: scale(1.1);
  filter: brightness(0) contrast();
}

@media (width <= 768px) {
  .hero {
    height: 900px;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__cta {
    top: 80%;
  }
}

@media (width <= 700px) {
  .hero__content {
    width: 480px;
  }
}

@media (width <= 480px) {
  .hero {
    height: 480px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__cta {
    visibility: hidden;
  }

  .hero__content {
    width: 350px;
  }

  .hero__title {
    margin-left: 12px;
  }
}

@media (width <= 374px) {
  .hero {
    height: 330px;
  }

  .hero__title {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .hero__description {
    font-size: .85rem;
    text-align: center;
  }

  .hero__content a {
    display: none;
  }

  .hero__content {
    width: 300px;
  }

  .hero__title {
    margin-left: 12px;
  }
}


/* [project]/src/app/globals.css [app-client] (css) */
:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*# sourceMappingURL=src_3fe7be._.css.map*/
