@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,480;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,480;1,600;1,700;1,800;1,900&display=swap";
/* [project]/src/styles/Hero.css [app-client] (css) */
.hero {
  position: relative;
  height: 100%;
  padding: 80px 40px;
  font-weight: 480;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content {
  position: relative;
  color: #fff;
  font-weight: 480;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.hero_content_text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title {
  font-size: 4rem;
  font-family: ClashDisplay;
  font-weight: 800;
  text-transform: uppercase;
}

.cursive {
  color: #d02227;
}

.hero__description {
  font-size: min(6vmin, 1rem + .23vmax, 2rem);
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero__content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all .42s;
}

.hero__cta-img {
  filter: brightness(0) invert();
}

.hero__cta:hover {
  border: 1px solid #000;
  background: none;
  transform: scale(1.1);
  filter: brightness(0) contrast();
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .hero__content {
    font-weight: 480;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .hero__description {
    text-align: center;
  }

  .hero__real__img {
    width: 100%;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .hero__content {
    font-weight: 480;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .hero__real__img {
    max-width: 100%;
  }

  .hero__title {
    font-size: 40px;
    font-family: YourCustomFont;
    text-transform: uppercase;
  }

  .hero__description {
    font-size: 17px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 480;
    font-style: normal;
  }

  .hero_content_text {
    padding: 10px 30px;
    text-align: center;
  }
}

@media (width <= 480px) {
  .hero {
    height: 100%;
    padding: 50px 20px;
    margin-bottom: 50px;
  }

  .hero__title {
    font-size: 2rem;
    font-family: YourCustomFont;
    text-transform: uppercase;
  }

  .hero__description {
    font-size: 16px;
    font-family: Montserrat Alternates, sans-serif;
    font-weight: 480;
    font-style: normal;
  }

  .hero__content {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .hero__real__img {
    max-width: 100%;
    height: auto;
  }

  .hero_content_text {
    text-align: center;
  }
}


/* [project]/src/styles/Services.css [app-client] (css) */
.about {
  background-color: #fff;
  padding: 10% 5%;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about__title-1, .about__title-2, .about__title-3 {
  font-size: 48px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #041d0fcc;
  font-family: ClashDisplay;
  font-weight: 800;
}

.about__title-4 {
  font-size: 48px;
  line-height: 30px;
  letter-spacing: 1.5px;
  color: #041d0fcc;
  font-family: ClashDisplay;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-description {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 480;
  font-style: normal;
}

.about__description-1 {
  font-size: 16px;
  font-weight: 300;
  max-width: 480px;
  font-weight: 480;
  font-style: normal;
  line-height: 27px;
  color: #000;
}

.about-description-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 360px;
  height: 60px;
  margin-top: 30px;
  padding: 10px 20px;
  border-top: 1px solid #d02227;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  border-bottom: 1px solid #d02227;
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #d02227;
}

.about-description-btn:hover {
  background-color: #d02227;
  color: #fff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fade-in-up {
  opacity: 0;
  animation: 1s ease-out forwards fadeInUp;
}

.zoom-in {
  opacity: 0;
  animation: 1s ease-out forwards zoomIn;
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: 1s ease-out forwards slideInLeft;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  animation: 1s ease-out forwards slideInRight;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.bounce-hover:hover {
  animation: .5s ease-in-out bounce;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .about__title-1, .about__title-2, .about__title-3, .about__title-4 {
    font-size: 38px;
    text-align: center;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .about__title-1, .about__title-2, .about__title-3 {
    font-size: 30px;
  }

  .about__title-4 {
    font-size: 30px;
  }

  .about__container {
    text-align: center;
  }

  .about-image-1 {
    width: 70px;
    height: 38px;
  }

  .about-image-2 {
    width: 70px;
    height: 48px;
  }

  .about-image-3, .about-image-4 {
    width: 55px;
    height: 55px;
  }
}

@media (width <= 480px) {
  .about__container {
    max-width: 364px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .about-description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
  }

  .about__title-1, .about__title-2, .about__title-3, .about__title-4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
  }

  .about-image-1 {
    width: 64px;
    height: 32px;
  }

  .about-image-2 {
    width: 64px;
    height: 40px;
  }

  .about-image-3, .about-image-4 {
    width: 40px;
    height: 40px;
  }
}


/* [project]/src/styles/Product.css [app-client] (css) */
.product {
  border-top: 1px dashed #000;
  background-color: #fff;
  height: 100%;
  padding: 60px 30px;
}

.product__title {
  color: #041d0fcc;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.product__title_text {
  font-family: ClashDisplay;
  font-weight: 800;
  font-size: 30px;
}

.product__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  gap: 50px;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
  max-height: 480px;
  color: #fff;
}

.product_main_heading {
  color: #000;
  font-family: ClashDisplay;
  font-weight: 700;
}

.product__content-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}

.product__content-number {
  font-size: 18px;
  color: #146b38;
  line-height: 25px;
  font-family: Montserrat Alternates, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.product__content-text {
  width: 300px;
  height: 86px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.product_content-text-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product__heading {
  font-size: 24px;
  color: #146b38;
  line-height: 25px;
}

.product__description {
  font-size: 15px;
  font-weight: 480;
  color: #555;
  font-family: Montserrat Alternates, sans-serif;
}

.color {
  background-color: #40b44b80;
}

.column {
  display: flex;
  align-items: center;
  gap: 100px;
}

.product_arrows {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.product__name {
  font-size: 20px;
  color: #29ae29;
  font-family: sora;
}

.product__content-img {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product__cta {
  width: 150px;
  height: 58px;
  background-color: #fff;
  color: #29ae29;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 7px;
  color: #29ae29;
  font-family: Arial, Helvetica, "sans-serif";
  font-size: 18px;
  font-weight: 600;
  transition: all .3s;
}

.product__btn--disabled {
  pointer-events: none;
  opacity: .5;
}

.product_main_container {
  display: none;
}

.product__cta:hover {
  background-color: #146b38;
  color: #fff;
  transition: all .5s;
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .product__container {
    display: none;
  }

  .product_main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .product_main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .product_main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .product_main_content-text {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
  }

  .product_main_content-text_special {
    display: flex;
    align-items: center;
  }

  .product_main_heading {
    font-size: 20px;
    font-weight: 500;
    font-family: Montserrat Alternates, sans-serif;
  }

  .product_main_description {
    font-size: 18px;
    font-weight: 600;
    color: #555;
    font-family: Montserrat Alternates, sans-serif;
  }

  .product_main_content-text_special {
    display: flex;
    gap: 8px;
    margin-left: 40px;
  }

  .product_special {
    height: 92px;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .product__title_text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: .02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .product__title {
    display: flex;
    gap: 10px;
  }

  .product__container {
    display: none;
  }

  .product_main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .product_main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .product_main_content-text {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
  }

  .product_main_content-text_special {
    display: flex;
    align-items: center;
  }

  .product_main_heading {
    font-size: 18px;
    font-weight: 480;
    font-family: Montserrat Alternates, sans-serif;
  }

  .product_main_description {
    font-size: 15px;
    font-weight: 480;
    color: #555;
    font-family: Montserrat Alternates, sans-serif;
  }

  .product_main_content-text_special {
    display: flex;
    gap: 8px;
    margin-left: 40px;
  }

  .product_special {
    height: 92px;
  }
}

@media (width <= 480px) {
  .product {
    height: 100%;
    padding: 60px 40px;
  }

  .product__title_text {
    font-size: 20px;
    font-weight: 600;
    line-height: 24.6px;
    letter-spacing: .02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .product__title {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .product__container {
    display: none;
  }

  .color {
    background-color: #40b44b80;
  }

  .main_title_text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
  }

  .product_main_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .product_main_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .product_main_content-text {
    width: 100%;
    max-width: 362px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
  }

  .product_main_heading {
    font-size: 16px;
    font-weight: 480;
    font-family: Montserrat Alternates, sans-serif;
  }

  .product_main_description {
    font-size: 14px;
    font-weight: 480;
    color: #555;
    font-family: Montserrat Alternates, sans-serif;
  }

  .product_main_content-text_special {
    display: flex;
    gap: 8px;
    margin-left: 40px;
  }

  .product_special {
    height: 92px;
  }

  #product_main_content-text_special_image {
    width: 50px;
    height: 54px;
  }
}


/* [project]/src/styles/learnfountain.css [app-client] (css) */
.learn {
  position: relative;
  height: 100%;
  padding: 60px 0;
  font-weight: 480;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.learn__container_overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
  width: 100%;
}

.learn__title_text {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: ClashDisplay;
  font-weight: 700;
}

.learn__container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 200px;
}

.learn__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.learn-content-text {
  display: flex;
  align-items: center;
  gap: 30px;
}

.learn-content-text p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: Montserrat Alternates, sans-serif;
}

.learn__content-images {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.learn_content_button {
  width: 100%;
  max-width: 398px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: 80px;
  padding: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: #fff;
  font-family: Montserrat Alternates, sans-serif;
}

.learn__content-images_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%;
}

.learn__content_sliders {
  width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.learn__content_sliders_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  color: gray;
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .learn__container {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .learn__content_sliders {
    display: none;
  }

  .learn__content-images {
    display: flex;
    gap: 30px;
  }

  .learn__title_text {
    font-size: 38px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .learn {
    padding: 40px 20px;
    height: 100%;
  }

  .learn__title {
    width: 100%;
    margin-bottom: 50px;
  }

  .learn__title_text {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.52px;
    letter-spacing: .02em;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .learn-content-text p {
    font-size: 16px;
  }

  .learn__content-images_container {
    width: 100%;
  }

  .learn__container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .learn_image_zero {
    width: 173.33px;
    height: 200px;
  }

  .learn_image_one {
    width: 118.86px;
    height: 138.67px;
  }

  .learn_image_two {
    width: 118.86px;
    height: 138.67px;
  }

  .learn_content_button {
    margin-top: 80px;
    font-size: 14px;
  }

  .learn_content_overall {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media (width <= 480px) {
  .learn {
    padding: 40px 20px;
    height: 100%;
  }

  .learn__title {
    max-width: 380px;
    margin-bottom: 50px;
  }

  .learn__title_text {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.52px;
    letter-spacing: .02em;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .learn-content-text p {
    font-size: 16px;
  }

  .learn__container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }

  .learn_image_zero {
    width: 173.33px;
    height: 200px;
  }

  .learn_image_one {
    width: 118.86px;
    height: 138.67px;
  }

  .learn__content_sliders {
    width: 100%;
  }

  .learn_image_two {
    width: 118.86px;
    height: 138.67px;
  }

  .learn_content_button {
    margin-top: 40px;
    font-size: 14px;
  }

  .learn__container_overall {
    margin-top: 0;
  }
}


/* [project]/src/styles/storeLocator.css [app-client] (css) */
.store {
  width: 100%;
  height: 900px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.store h1 {
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 600;
  font-family: ClashDisplay;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #041d0fcc;
}

.store-locator-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 70px;
}

.search_field_icon {
  width: 360px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #0009;
  border-radius: 8px;
}

.search_field_input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  font-family: Montserrat Alternates, sans-serif;
}

.search-locations {
  display: flex;
  flex-direction: column;
  border: 1px solid #0006;
  height: 240px;
  overflow-y: auto;
}

.status-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #0006;
  padding: 10px 5px;
}

.location {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px 50px;
}

.location-text {
  color: #000;
  font-family: Montserrat Alternates, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .04em;
}

.store-status {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 16px;
  color: #29ae29;
}

.closed {
  color: #d02227;
}

.map_content_button {
  width: 100%;
  max-width: 398px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-top: 1px solid #d02227;
  border-bottom: 1px solid #d02227;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  margin-top: 80px;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  transition: all .5s;
  color: #d02227;
  font-family: Montserrat Alternates, sans-serif;
}

.map_content_button:hover {
  background-color: #d02227;
  color: #fff;
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .store {
    height: 100%;
    padding: 50px 20px;
  }

  .store-locator-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 0;
    max-width: 100%;
    margin-top: 30px;
  }

  .search-field, .search_field_icon {
    width: 100%;
  }

  .location {
    padding: 10px 20px;
  }
}

@media (width <= 480px) {
  .store {
    height: 100%;
    padding: 50px 20px;
  }

  .store h1 {
    font-size: 24px;
  }

  .store-locator-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 0;
    max-width: 382px;
    margin-top: 30px;
  }

  .search-field, .search_field_icon {
    width: 100%;
  }

  .map-container_img {
    max-width: 430px;
    max-height: 180px;
  }

  .location {
    padding: 10px 20px;
  }

  .map_content_button {
    font-size: 12px;
  }
}


/* [project]/src/styles/partner.css [app-client] (css) */
.partnership {
  position: relative;
  height: 100%;
  padding: 100px 80px;
  font-weight: 480;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.partnership__title {
  margin-bottom: 100px;
  font-family: ClashDisplay;
  font-weight: 700;
}

.partnership__title_text {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
}

.partnership__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 120px;
}

.partnership__container_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.partnership__container_text_container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.partnership__container_text {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-top: -5px;
  font-family: Montserrat Alternates, sans-serif;
}

.partnership__container_img {
  display: flex;
  align-items: center;
  width: 100%;
}

.zoom-image {
  flex: 1;
  max-width: 100%;
  height: auto;
  transition: transform .5s;
}

.zoom-image:hover {
  transform: scale(1.2);
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .partnership__container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
    align-items: center;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .partnership__title_text {
    font-size: 28px;
  }

  .partnership__container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
  }

  .partnership__container_img {
    display: flex;
    align-items: center;
  }

  .zoom-image {
    width: 33%;
    height: auto;
    transition: transform .5s;
  }
}

@media (width <= 480px) {
  .partnership {
    height: 100%;
    padding: 50px 30px;
  }

  .partnership__title_text {
    margin-bottom: 0;
    line-height: 30px;
    gap: 12px;
    font-size: 24px;
    text-align: center;
  }

  .partnership__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
  }

  .partnership__container_text_container {
    max-width: 350px;
  }

  .partnership__container_img {
    display: flex;
    padding: 0;
    width: 100%;
  }

  .partnership__container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .partnership__container_text {
    font-size: 16px;
    margin-top: 0;
  }

  .zoom-image {
    width: 33%;
    height: auto;
    transition: transform .5s;
  }
}


/* [project]/src/styles/fountainfamily.css [app-client] (css) */
.family {
  width: 100%;
  height: 100%;
  padding: 60px 40px;
}

.family-container {
  height: 80%;
  padding: 5%;
  position: relative;
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.family-container_overall_header {
  font-size: 32px;
  font-family: ClashDisplay;
  font-weight: 700;
}

.family-container-overall-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  font-family: Montserrat Alternates, sans-serif;
  text-align: center;
}

.family-container_overall {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  max-width: 800px;
}

.family-container-overall-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.overall-main-content {
  display: flex;
  gap: 20px;
  font-family: Montserrat Alternates, sans-serif;
}

.overall-main-content_backup {
  display: none;
}

.family_content_button {
  width: 307px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  background-color: #d02227;
  border: none;
  margin-top: 30px;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  color: #fff;
  font-family: Montserrat Alternates, sans-serif;
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .overall-main-content {
    display: none;
  }

  .family-container {
    height: 80%;
    margin: 0;
    padding: 60px 30px;
  }

  .overall-main-content_backup {
    width: 100%;
    font-size: 16px;
    display: flex;
    gap: 20px;
    font-family: Montserrat Alternates, sans-serif;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .overall-main-content {
    display: none;
  }

  .family {
    padding: 0;
  }

  .family-container_overall_header {
    font-size: 28px;
    text-align: center;
  }

  .family-container {
    height: 80%;
    margin: 0;
    padding: 60px 30px;
  }

  .overall-main-content_backup {
    width: 100%;
    font-size: 16px;
    display: flex;
    gap: 20px;
    font-family: Montserrat Alternates, sans-serif;
  }

  .family-container-overall-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}

@media (width <= 480px) {
  .family {
    padding: 0;
  }

  .family-container {
    height: 80%;
    margin: 0;
    padding: 60px 30px;
  }

  .family-container_overall_header {
    font-size: 24px;
    text-align: center;
  }

  .family-container-overall-text {
    font-size: 16px;
  }

  .overall-main-content {
    display: none;
  }

  .overall-main-content_backup {
    width: 100%;
    font-size: 16px;
    display: flex;
    gap: 20px;
    font-family: Montserrat Alternates, sans-serif;
  }

  .family_content_button {
    max-width: 307px;
  }
}


/* [project]/src/styles/testimonies.css [app-client] (css) */
.testimonies {
  width: 100%;
  height: 100%;
  padding: 80px 20px;
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.testimony {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  position: relative;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  width: 80%;
}

.testimonies-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.testimony_text {
  color: #000;
  font-size: 24px;
  font-family: Montserrat Alternates, sans-serif;
}

.testimony_name {
  color: #000;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-family: Montserrat Alternates, sans-serif;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
}

.arrow-button:hover {
  color: #666;
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .testimonies-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .testimony_text {
    font-size: 20px;
    font-family: Montserrat Alternates, sans-serif;
  }

  .testimonies-container {
    display: flex;
    gap: 20px;
  }

  #NormalArrowRight {
    width: 33px;
    height: 23px;
  }

  #NormalArrowLeft {
    width: 33px;
    height: 23px;
  }
}

@media (width <= 480px) {
  .testimonies {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
  }

  .testimonies-container {
    display: flex;
    gap: 20px;
  }

  #NormalArrowRight {
    width: 33px;
    height: 23px;
  }

  #NormalArrowLeft {
    width: 33px;
    height: 23px;
  }

  .testimony_text {
    font-size: 16px;
    font-family: Montserrat Alternates, sans-serif;
  }
}


/* [project]/src/styles/sponsors.css [app-client] (css) */
.sponsors {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
}

.sponsors-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sponsors-container_overall {
  display: flex;
  gap: 50px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sponsors-container_overall::-webkit-scrollbar {
  display: none;
}

.sponsors-container_overall > div {
  min-width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease-in-out;
}

.sponsors-container_overall > div:hover {
  transform: scale(1.1);
}

.scroll-btn {
  background-color: #0000;
  border: none;
  cursor: pointer;
}

.sponsors-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}


/* [project]/src/styles/Footer.css [app-client] (css) */
.footer {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: #1d3427;
}

.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 200px;
  color: #fff;
}

.footer_container_content {
  display: flex;
  gap: 70px;
}

.footer-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-location_content {
  max-width: 200px;
}

.footer-brand, .footer-contact, .footer-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-header {
  font-size: 20px;
  text-transform: uppercase;
  font-family: ClashDisplay;
  font-weight: 500;
}

.footer-location_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer-location_content span {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-bottom_content {
  border-top: 1px solid #fff;
  margin-top: 50px;
}

.footer-social_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-social_content p {
  color: #6a6969;
}

.footer-socials {
  display: flex;
  align-items: center;
}

#special_social_icon_main {
  margin-top: -5px;
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    color: #fff;
  }

  .footer_container_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }

  .footer-location_content {
    max-width: 150px;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer_container_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }

  .footer-location_content {
    max-width: 150px;
  }
}

@media (width <= 480px) {
  .footer {
    width: 100%;
    height: 100%;
    padding: 60px 30px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    color: #fff;
  }

  .footer_container_content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }

  .footer-header {
    font-size: 16px;
  }

  .footer-location_content {
    max-width: 150px;
  }

  .footer-location_content span {
    font-size: 12px;
    font-weight: 400;
  }

  .footer-brand, .footer-contact, .footer-help {
    max-width: 200px;
  }

  .footer-social_content p {
    font-size: 12px;
  }

  #special_social_icon {
    width: 24px;
    height: 24px;
  }

  #special_social_icon_main {
    width: 30px;
    height: 30px;
    margin-top: -5px;
  }
}


/*# sourceMappingURL=src_styles_95b749._.css.map*/
