@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,480;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,480;1,600;1,700;1,800;1,900&display=swap";
/* [project]/src/styles/Navbar.css [app-client] (css) */
/* unparseable [project]/src/styles/Navbar.css [app-client] (css) */

/* [project]/src/styles/Hero.css [app-client] (css) */
.hero {
  position: relative;
  height: 1100px;
  font-weight: 480;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/Fountain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(10%);
  z-index: -1;
}

.hero__content {
  position: relative;
  color: #fff;
  font-weight: 480;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.hero_content_text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title {
  font-size: 4rem;
  font-family: YourCustomFont;
  text-transform: uppercase;
}

.cursive {
  color: #d02227;
}

.hero__description {
  font-size: min(6vmin, 1rem + .23vmax, 2rem);
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 480;
  font-style: normal;
}

.hero__content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all .42s;
}

.hero__cta-img {
  filter: brightness(0) invert();
}

.hero__cta:hover {
  border: 1px solid #000;
  background: none;
  transform: scale(1.1);
  filter: brightness(0) contrast();
}

@media (width <= 768px) {
  .hero {
    height: 900px;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__cta {
    top: 80%;
  }
}

@media (width <= 700px) {
  .hero__content {
    width: 480px;
  }
}

@media (width <= 480px) {
  .hero {
    height: 480px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__cta {
    visibility: hidden;
  }

  .hero__content {
    width: 350px;
  }

  .hero__title {
    margin-left: 12px;
  }
}

@media (width <= 374px) {
  .hero {
    height: 330px;
  }

  .hero__title {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .hero__description {
    font-size: .85rem;
    text-align: center;
  }

  .hero__content a {
    display: none;
  }

  .hero__content {
    width: 300px;
  }

  .hero__title {
    margin-left: 12px;
  }
}


/* [project]/src/styles/Services.css [app-client] (css) */
.about {
  background-color: #fff;
  padding: 10% 5%;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about__title-1, .about__title-2, .about__title-3 {
  font-size: 48px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 1.5px;
  color: #041d0fcc;
  font-family: CustomFont;
  display: flex;
  align-items: center;
}

.about__text {
  display: flex;
  align-items: center;
}

.about-description {
  display: flex;
  align-items: flex-start;
  gap: 80px;
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 480;
  font-style: normal;
}

.about__description-1 {
  font-size: 16px;
  font-weight: 300;
  max-width: 480px;
  font-weight: 480;
  font-style: normal;
  line-height: 27px;
  color: #000;
}

.about-description-story {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 60px;
  border-top: 1px solid #d02227;
  border-bottom: 1px solid #d02227;
}

.about__description-story-text {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #d02227;
}

.services__container {
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px;
  font-family: sora;
}

.services__container-1 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.services__container-1-1 {
  display: flex;
  align-items: center;
}

.services__container-1-img {
  filter: invert(84%) sepia(39%) saturate(548%) hue-rotate(35deg) brightness(103%) contrast(92%);
}

.services__title {
  font-size: 19px;
  color: #d7fc70;
}

.services__container-1-description {
  font-size: 30px;
  font-family: Geo-Light;
  font-weight: 480;
  line-height: 45px;
  letter-spacing: 1.5px;
  color: #d7fc70;
}

.services__container-1-text {
  font-size: 15px;
  font-family: sora;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
}

.services__container-1-cta {
  font-size: 15px;
  font-family: sora;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #d7fc70;
  transition: all .3s;
}

.services__container-1-cta:hover {
  border: 1px solid #d7fc70;
  padding: 10px;
  width: 100px;
  height: 40px;
}

.services__container-4 {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.services__container-4-4 {
  display: flex;
  align-items: center;
}

.services__container-4-img, .services__container-1-cta-img {
  filter: invert(84%) sepia(39%) saturate(548%) hue-rotate(35deg) brightness(103%) contrast(92%);
}


/* [project]/src/styles/Distributor.css [app-client] (css) */
.distributor {
  padding: 6% 7%;
  position: relative;
  height: 600px;
  font-weight: 480;
  overflow: hidden;
  display: flex;
}

.distributor:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/Fountain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(20%);
  z-index: -1;
}

.distributor__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.distributor__content-real {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.distributor__content {
  display: flex;
}

.distributor__content-sign {
  display: flex;
  flex-direction: column;
  font-family: Montserrat Alternates, sans-serif;
  gap: 20px;
}

.sign {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.distributor__title {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  line-height: 50px;
  margin-bottom: 100px;
  letter-spacing: .5px;
}

.distributor__text {
  font-size: 15px;
  font-family: sora;
  font-weight: 400;
  line-height: 25px;
  color: #000;
}

.sign-text {
  color: #fff;
}

.distributor__button {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 15px 20px;
  font-size: 16px;
  width: 400px;
  font-family: Montserrat Alternates, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}

.distributor__button:hover {
  background-color: #fff;
  color: #077a4c;
  border: 2px solid #077a4c;
  transition: all .5s;
}

.distributor__content {
  display: flex;
  gap: 250px;
  justify-content: space-between;
}

.distributor__content-img-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.distributor__content-img {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}


/* [project]/src/styles/brands.css [app-client] (css) */
.brands {
  min-height: 400px;
  background: #fff;
  padding: 10% 7%;
  position: relative;
}

.brands__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  min-height: 400px;
  background: linear-gradient(to right, #d7fc70 23%, #29ae29 71%);
  border-radius: 10px;
  padding: 30px 50px;
}

.element-1 img {
  position: absolute;
  left: 5%;
  top: 18%;
}

.element-2 {
  position: absolute;
  top: 31%;
  left: 5%;
}

.element-3 {
  position: absolute;
  top: 25%;
  right: 40%;
  z-index: 0;
}

.brands__content {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  gap: 5px;
  color: #000;
  position: relative;
}

.brands__content h2 {
  font-size: 50px;
  font-family: sora;
  margin-bottom: 0;
}

.brands__content p {
  font-size: 15px;
  font-family: sora;
}

.brands__content-btn {
  width: 180px;
  height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: sora;
  color: #fff;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background: #146b38;
  position: absolute;
  bottom: -50%;
  transition: all .42s;
}

.brands__content-btn:hover {
  background-color: #0000;
  border: 2px solid #146b38;
  color: #000;
}

@media (width <= 1440px) {
  .element-1 {
    position: absolute;
    left: 5%;
    top: 17.8%;
  }

  .element-2 {
    position: absolute;
    top: 33.2%;
    left: 5%;
  }

  .element-3 {
    position: absolute;
    top: 25%;
    right: 34.4%;
    z-index: 1000;
  }
}

@media (width <= 1199px) {
  .element-1 {
    position: absolute;
    left: 7.9%;
    top: 17%;
  }

  .element-2 {
    position: absolute;
    top: 25%;
    left: 7.9%;
  }
}

@media (width <= 1024px) {
  .element-1 {
    position: absolute;
    left: 5%;
    top: 15.4%;
  }

  .element-2 {
    position: absolute;
    top: 32%;
    left: 5%;
  }

  .element-3 {
    display: none;
  }
}

@media (width <= 768px) {
  .brands__container {
    max-width: 768px;
  }

  .brand-content-img-2 {
    width: 250px;
    height: 150px;
  }

  .element-1 {
    position: absolute;
    left: 5%;
    top: 12.7%;
  }

  .element-2 {
    position: absolute;
    top: 30.4%;
    left: 5%;
  }

  .water-bg {
    width: 100px;
    height: 100px;
  }

  .element-3 {
    position: absolute;
    top: 35%;
    right: 41.8%;
    z-index: 0;
  }

  .brands__content h2 {
    font-size: 40px;
    font-family: sora;
  }
}

@media (width <= 690px) {
  .brands__container {
    max-width: 690px;
  }

  .element-1 {
    position: absolute;
    left: 5%;
    top: 11.6%;
  }

  .element-2 {
    position: absolute;
    top: 30.1%;
    left: 5%;
  }

  .element-3 {
    position: absolute;
    top: 35%;
    right: 41.8%;
    z-index: 0;
  }

  .brands__content h2 {
    font-size: 35px;
    font-family: sora;
  }
}

@media (width <= 480px) {
  .brands {
    padding: 4% 0%;
    position: relative;
    margin-bottom: 50px;
  }

  .brands__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 100px;
  }

  .element-1 {
    display: none;
  }

  .element-2 {
    display: none;
  }

  .element-3 {
    display: none;
  }

  .brands__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 250px;
    margin-left: 40px;
    height: 150px;
    color: #000;
  }

  .brands__content h2 {
    font-size: 35px;
    font-family: sora;
    padding-bottom: 0;
  }

  .brands__content p {
    font-size: 12px;
    font-family: sora;
  }

  .brands__content-btn {
    width: 130px;
    height: 25px;
    font-size: 15px;
    position: absolute;
    bottom: -35%;
  }

  .brand-content-img-2 {
    margin-top: 0;
  }
}

@media (width <= 380px) {
  .brands {
    margin-top: 60px;
  }

  .brands__content {
    width: 250px;
  }
}


/* [project]/src/styles/Footer.css [app-client] (css) */
.landing-footer {
  background-color: #111;
  height: 300px;
  padding: 7%;
}

.footer__container {
  max-width: 1000px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 200px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.footer__content p {
  color: #fff;
  font-family: sora;
  font-size: 15px;
}

.footer__content-2 {
  display: flex;
  gap: 60px;
}

.footer__text {
  color: #d7fc70;
  font-family: sora;
  font-size: 16px;
}

.footer__blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer__blog a {
  font-size: 14px;
  font-family: sora;
  color: #fff;
}

.footer__jobs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer__jobs a {
  font-size: 14px;
  font-family: sora;
  color: #fff;
}

.footer__socials {
  display: flex;
  margin-top: 60px;
  gap: 20px;
}

@media (width <= 1199px) {
  
}

@media (width <= 480px) {
  .landing-footer {
    padding: 10% 5%;
    min-height: 570px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
  }

  .footer__content {
    gap: 20px;
  }

  .footer__socials {
    margin-bottom: 20px;
  }
}


/* [project]/src/app/globals.css [app-client] (css) */
:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*# sourceMappingURL=src_073693._.css.map*/
