@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,480;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,480;1,600;1,700;1,800;1,900&display=swap";
/* [project]/src/styles/Green-Navbar.css [app-client] (css) */
.normal-navbar {
  position: relative;
  top: 0;
  left: 0;
  height: 90px;
  z-index: 1000;
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu-normal {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navbar__item {
  list-style-type: none;
}

.navbar__link-normal {
  text-decoration: none;
  font-size: min(6vmin, 1rem + .23vmax);
  font-family: Geo;
  color: #000;
}

.navbar__link-normal:hover {
  border-bottom: 2px solid #40b44b;
}

.cart-nav {
  display: none;
}

.navbar__cta {
  display: flex;
  align-items: center;
}

.navbar__cta-btn {
  transition: all .42s;
  color: #fff;
  margin-right: 15px;
}

.navbar__cta-menu {
  display: none;
}

.navbar__cta-btn-menu {
  display: none;
}

.log-in {
  display: none;
}

.navbar__cta-img-normal {
  filter: brightness(0) contrast();
}

.navbar__cta-img-normal:hover {
  transform: scale(1.1);
  filter: brightness(0) contrast();
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .navbar__cta {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #user_icon {
    display: none;
  }

  .land-navbar-img {
    width: 150px;
    height: 35px;
  }
}

@media (width <= 480px) {
  .land-navbar-img {
    width: 140px;
    height: 28.64px;
  }

  .normal-navbar {
    padding: 10px 15px;
  }

  #user_icon {
    display: none;
  }

  .navbar__cta {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar__cta-btn {
    margin-right: 0;
  }
}


/* [project]/src/styles/Footer.css [app-client] (css) */
.footer {
  width: 100%;
  height: 100%;
  padding: 60px;
  background-color: #1d3427;
}

.footer-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 200px;
  color: #fff;
}

.footer_container_content {
  display: flex;
  gap: 70px;
}

.footer-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-location_content {
  max-width: 200px;
}

.footer-brand, .footer-contact, .footer-help {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-header {
  font-size: 20px;
  text-transform: uppercase;
}

.footer-location_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer-location_content span {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: .04em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footer-bottom_content {
  border-top: 1px solid #fff;
  margin-top: 50px;
}

.footer-social_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-social_content p {
  color: #6a6969;
}

.footer-socials {
  display: flex;
  align-items: center;
}

#special_social_icon_main {
  margin-top: -5px;
}

@media only screen and (width >= 769px) and (width <= 1024px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    color: #fff;
  }

  .footer_container_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }

  .footer-location_content {
    max-width: 150px;
  }
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer_container_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
  }

  .footer-location_content {
    max-width: 150px;
  }
}

@media (width <= 480px) {
  .footer {
    width: 100%;
    height: 100%;
    padding: 60px 30px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    color: #fff;
  }

  .footer_container_content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }

  .footer-header {
    font-size: 16px;
  }

  .footer-location_content {
    max-width: 150px;
  }

  .footer-location_content span {
    font-size: 12px;
    font-weight: 400;
  }

  .footer-brand, .footer-contact, .footer-help {
    max-width: 200px;
  }

  .footer-social_content p {
    font-size: 12px;
  }

  #special_social_icon {
    width: 24px;
    height: 24px;
  }

  #special_social_icon_main {
    width: 30px;
    height: 30px;
    margin-top: -5px;
  }
}


/* [project]/src/styles/distributorPage.css [app-client] (css) */
.distributor_main {
  position: relative;
  width: 100%;
  height: 700px;
  font-weight: 480;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.distributor_main__container {
  width: 100%;
}

.distributor_main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.distributor_main__content-title {
  font-size: 80px;
  font-weight: 600;
  line-height: 88px;
  letter-spacing: .02em;
  text-align: center;
  color: #fff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.distributor_main__content-text {
  font-family: Montserrat Alternates, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  max-width: 560px;
  text-align: center;
}

.distributor_main-names-identity {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.distributor_main-names-identity a {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: #fff;
  letter-spacing: .02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.distributor_main__form {
  width: 100%;
  height: 100%;
  padding: 80px 30px;
  background-color: #fff;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}

.distributor_main__form_overall_header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.distributor_main__form_header {
  width: 100%;
  font-size: 100px;
  max-width: 600px;
  color: #000;
}

.distributor_main__form_class {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 650px;
  width: 100%;
}

.distributor_main__form__input input {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  font-family: Montserrat Alternates;
  background-color: #0000;
  color: #000;
  font-size: 18px;
  font-weight: 480;
  line-height: 21.94px;
  letter-spacing: .02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.distributor_main__form__label {
  margin-bottom: -15px;
  margin-left: 20px;
  font-weight: bold;
}

.distributor_main__form__input_name {
  color: #000;
}

.distributor_main__form__btn {
  width: 100%;
  padding: 20px;
  background-color: #d02227;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
  letter-spacing: .12em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.distributor_main__form__btn:hover {
  background-color: #fff;
  color: #d02227;
  border: 1px solid #d02227;
}

@media only screen and (width >= 481px) and (width <= 768px) {
  .distributor_main__content-title {
    font-size: 60px;
  }

  .distributor_main__form {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .distributor_main__form_overall_header {
    display: flex;
    flex-direction: row;
  }

  .hand_shaking_img {
    display: none;
  }

  .distributor_main__form_header {
    font-size: 35px;
  }
}

@media (width <= 480px) {
  .distributor_main__form {
    margin-top: 0;
  }

  .distributor_main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .distributor_main__content {
    max-width: 344px;
  }

  .distributor_main__content-title {
    font-size: 35px;
  }

  .distributor_main-names-identity {
    margin-left: 10px;
  }

  .distributor_main-names-identity a {
    font-size: 14px;
  }

  .distributor_main__form {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .distributor_main__form_overall_header {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .hand_shaking_img {
    display: none;
  }

  .distributor_main__form_header {
    font-size: 24px;
  }

  .distributor_main__form__input input, .distributor_main__form__btn {
    font-size: 14px;
  }
}


/*# sourceMappingURL=src_styles_5594b2._.css.map*/
