/* [project]/src/app/geistsans_55aa1762.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("/_next/static/media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_55aa1762-module__MU8Tiq__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_55aa1762-module__MU8Tiq__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/src/app/geistsans_55aa1762.module.css [app-client] (css) */
@font-face {
  font-family: geistSans;
  src: url("/_next/static/media/GeistVF-s.p.7fe29570.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistSans Fallback;
  src: local(Arial);
  ascent-override: 85.83%;
  descent-override: 20.52%;
  line-gap-override: 9.33%;
  size-adjust: 107.19%;
}

.geistsans_55aa1762-module__MU8Tiq__className {
  font-family: geistSans, geistSans Fallback;
}

.geistsans_55aa1762-module__MU8Tiq__variable {
  --font-geist-sans: "geistSans", "geistSans Fallback";
}


/* [project]/src/app/geistmono_5456aaa7.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("/_next/static/media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_5456aaa7-module__V5bQPa__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_5456aaa7-module__V5bQPa__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/src/app/geistmono_5456aaa7.module.css [app-client] (css) */
@font-face {
  font-family: geistMono;
  src: url("/_next/static/media/GeistMonoVF-s.p.a9159d35.woff") format("woff");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: geistMono Fallback;
  src: local(Arial);
  ascent-override: 69.97%;
  descent-override: 16.73%;
  line-gap-override: 7.61%;
  size-adjust: 131.49%;
}

.geistmono_5456aaa7-module__V5bQPa__className {
  font-family: geistMono, geistMono Fallback;
}

.geistmono_5456aaa7-module__V5bQPa__variable {
  --font-geist-mono: "geistMono", "geistMono Fallback";
}


/* [project]/src/styles/brands.css [app-client] (css) */
.brands {
  min-height: 400px;
  background: #fff;
  padding: 10% 7%;
  position: relative;
}

.brands__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1100px;
  min-height: 400px;
  background: linear-gradient(to right, #d7fc70 23%, #29ae29 71%);
  border-radius: 10px;
  padding: 30px 50px;
}

.element-1 img {
  position: absolute;
  left: 5%;
  top: 18%;
}

.element-2 {
  position: absolute;
  top: 31%;
  left: 5%;
}

.element-3 {
  position: absolute;
  top: 25%;
  right: 40%;
  z-index: 0;
}

.brands__content {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  gap: 5px;
  color: #000;
  position: relative;
}

.brands__content h2 {
  font-size: 50px;
  font-family: sora;
  margin-bottom: 0;
}

.brands__content p {
  font-size: 15px;
  font-family: sora;
}

.brands__content-btn {
  width: 180px;
  height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-family: sora;
  color: #fff;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background: #146b38;
  position: absolute;
  bottom: -50%;
  transition: all .42s;
}

.brands__content-btn:hover {
  background-color: #0000;
  border: 2px solid #146b38;
  color: #000;
}

@media (width <= 1440px) {
  .element-1 {
    position: absolute;
    left: 5%;
    top: 17.8%;
  }

  .element-2 {
    position: absolute;
    top: 33.2%;
    left: 5%;
  }

  .element-3 {
    position: absolute;
    top: 25%;
    right: 34.4%;
    z-index: 1000;
  }
}

@media (width <= 1199px) {
  .element-1 {
    position: absolute;
    left: 7.9%;
    top: 17%;
  }

  .element-2 {
    position: absolute;
    top: 25%;
    left: 7.9%;
  }
}

@media (width <= 1024px) {
  .element-1 {
    position: absolute;
    left: 5%;
    top: 15.4%;
  }

  .element-2 {
    position: absolute;
    top: 32%;
    left: 5%;
  }

  .element-3 {
    display: none;
  }
}

@media (width <= 768px) {
  .brands__container {
    max-width: 768px;
  }

  .brand-content-img-2 {
    width: 250px;
    height: 150px;
  }

  .element-1 {
    position: absolute;
    left: 5%;
    top: 12.7%;
  }

  .element-2 {
    position: absolute;
    top: 30.4%;
    left: 5%;
  }

  .water-bg {
    width: 100px;
    height: 100px;
  }

  .element-3 {
    position: absolute;
    top: 35%;
    right: 41.8%;
    z-index: 0;
  }

  .brands__content h2 {
    font-size: 40px;
    font-family: sora;
  }
}

@media (width <= 690px) {
  .brands__container {
    max-width: 690px;
  }

  .element-1 {
    position: absolute;
    left: 5%;
    top: 11.6%;
  }

  .element-2 {
    position: absolute;
    top: 30.1%;
    left: 5%;
  }

  .element-3 {
    position: absolute;
    top: 35%;
    right: 41.8%;
    z-index: 0;
  }

  .brands__content h2 {
    font-size: 35px;
    font-family: sora;
  }
}

@media (width <= 479px) {
  .brands {
    padding: 4% 0%;
    position: relative;
    margin-bottom: 50px;
  }

  .brands__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 100px;
  }

  .element-1 {
    display: none;
  }

  .element-2 {
    display: none;
  }

  .element-3 {
    display: none;
  }

  .brands__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 250px;
    margin-left: 40px;
    height: 150px;
    color: #000;
  }

  .brands__content h2 {
    font-size: 35px;
    font-family: sora;
    padding-bottom: 0;
  }

  .brands__content p {
    font-size: 12px;
    font-family: sora;
  }

  .brands__content-btn {
    width: 130px;
    height: 25px;
    font-size: 15px;
    position: absolute;
    bottom: -35%;
  }

  .brand-content-img-2 {
    margin-top: 0;
  }
}

@media (width <= 380px) {
  .brands {
    margin-top: 60px;
  }

  .brands__content {
    width: 250px;
  }
}


/* [project]/src/styles/Footer.css [app-client] (css) */
.landing-footer {
  background-color: #111;
  height: 300px;
  padding: 7%;
}

.footer__container {
  max-width: 1000px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 200px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.footer__content p {
  color: #fff;
  font-family: sora;
  font-size: 15px;
}

.footer__content-2 {
  display: flex;
  gap: 60px;
}

.footer__text {
  color: #d7fc70;
  font-family: sora;
  font-size: 16px;
}

.footer__blog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer__blog a {
  font-size: 14px;
  font-family: sora;
  color: #fff;
}

.footer__jobs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer__jobs a {
  font-size: 14px;
  font-family: sora;
  color: #fff;
}

.footer__socials {
  display: flex;
  margin-top: 60px;
  gap: 20px;
}

@media (width <= 1199px) {
  
}

@media (width <= 479px) {
  .landing-footer {
    padding: 10% 5%;
    min-height: 570px;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
  }

  .footer__content {
    gap: 20px;
  }

  .footer__socials {
    margin-bottom: 20px;
  }
}


/* [project]/src/app/globals.css [app-client] (css) */
:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/*# sourceMappingURL=src_8596d1._.css.map*/
