@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
/* [project]/src/styles/Hero.css [app-client] (css) */
.hero {
  position: relative;
  height: 1100px;
  font-weight: 500;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/Fountain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(10%);
  z-index: -1;
}

.hero__content {
  position: relative;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.hero_content_text {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title {
  font-size: 4rem;
  font-family: YourCustomFont;
  text-transform: uppercase;
}

.cursive {
  color: #d02227;
}

.hero__description {
  font-size: min(6vmin, 1rem + .23vmax, 2rem);
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero__content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  transition: all .42s;
}

.hero__cta-img {
  filter: brightness(0) invert();
}

.hero__cta:hover {
  border: 1px solid #000;
  background: none;
  transform: scale(1.1);
  filter: brightness(0) contrast();
}

@media (width <= 768px) {
  .hero {
    height: 900px;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__cta {
    top: 80%;
  }
}

@media (width <= 700px) {
  .hero__content {
    width: 500px;
  }
}

@media (width <= 500px) {
  .hero {
    height: 500px;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__cta {
    visibility: hidden;
  }

  .hero__content {
    width: 350px;
  }

  .hero__title {
    margin-left: 12px;
  }
}

@media (width <= 374px) {
  .hero {
    height: 330px;
  }

  .hero__title {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .hero__description {
    font-size: .85rem;
    text-align: center;
  }

  .hero__content a {
    display: none;
  }

  .hero__content {
    width: 300px;
  }

  .hero__title {
    margin-left: 12px;
  }
}


/* [project]/src/styles/Product.css [app-client] (css) */
.product {
  border-top: 1px dashed #000;
  padding: 6% 4%;
}

.product__title {
  color: #041d0fcc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__title h1 {
  font-weight: 700;
  font-size: 30px;
}

.product__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  gap: 50px;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 400px;
  max-height: 500px;
  color: #fff;
}

.product__content-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}

.product__content-number {
  font-size: 18px;
  color: #146b38;
  line-height: 25px;
  font-family: Montserrat Alternates, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.product__content-text {
  width: 300px;
  height: 86px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.product_content-text-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.product__heading {
  font-size: 24px;
  color: #146b38;
  line-height: 25px;
}

.product__description {
  font-size: 15px;
  font-weight: 500;
  color: #555;
  font-family: Montserrat Alternates, sans-serif;
}

.column {
  display: flex;
  align-items: center;
  gap: 100px;
}

.product_arrows {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.product__name {
  font-size: 20px;
  color: #29ae29;
  font-family: sora;
}

.product__content-img {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product__cta {
  width: 150px;
  height: 58px;
  background-color: #fff;
  color: #29ae29;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 7px;
  color: #29ae29;
  font-family: Arial, Helvetica, "sans-serif";
  font-size: 18px;
  font-weight: 600;
  transition: all .3s;
}

.product__btn--disabled {
  pointer-events: none;
  opacity: .5;
}

.product__cta:hover {
  background-color: #146b38;
  color: #fff;
  transition: all .5s;
}


/*# sourceMappingURL=src_styles_977e4b._.css.map*/
